#NAV 
{
  font-family: Caviar;
  font-size: 13pt;
  text-align: left;

}
@font-face
{
  font-family: Caviar;
  src: url(CaviarDreams_Bold.ttf);
}

#nav ul li 
{
  display: inline;
  padding: 1px;
}

#nav ul li a 
{
  color: black;
  text-decoration: none;
}

#nav ul li a:hover 
{
  color: brown;
}

